.filters{
    background-color: white; 
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
}

button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    order: 2;
}

button:hover{
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 30px;
    order: 0;
}

.amenities {
    height: 100%;
    width: 25%;
    margin-right: 250px;
    margin-left: 30px;
    order: 1;
}


h3 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.popover {
    display: none;
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-left: -30px;
}

.locations:hover .popover {
    display: block;
}

.amenities:hover .popover {
    display: block;
}

h2 {
    font-size: 16px;
}
