.places {
    display: block;
    margin: 45px auto;
    text-align: center;
}

h1 {
    float: left;
    text-align: left;
    width: 95%;
    display: block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 30px;

}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;

}

article h2 {
    font-size: 30px;
    padding: 0px;
    margin: auto;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5a5f;
    font-size: 20px;
    padding: 5px;
    border: 4px solid #ff5a5f;
    border-radius: 100%;
    float: right;
    min-width: 60px;
    height: 60px;
    margin-top: 15px;
}

.information {
    display: block;
    height: 80px;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0px auto;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.description {
    text-align: left;
}

.guest_icon {
    display: inline-block;
    background-image: url("../images/number_guests.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.bed_icon {
    display: inline-block;
    background-image: url("../images/number_rooms.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.bath_icon {
    display: inline-block;
    background-image: url("../images/number_bathrooms.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
